[submodule "submodules/kicad-sch-api"]
	path = submodules/kicad-sch-api
	url = https://github.com/freudenthal/kicad-sch-api.git
	branch = main
[submodule "submodules/circuit-synth"]
	path = submodules/circuit-synth
	url = https://github.com/freudenthal/circuit-synth.git
	branch = main
